body {
    font-family: 'Roboto Slab', sans-serif;
    background: #fafafa;
    margin: 0;
}

.header {
    color: #2e3b69;
    text-align: center;
    max-width: 52em;
    margin: auto;
}

hr {
    border: none;
    max-width: 52em;
    border-top: 3px solid #2e3b69;
    overflow: visible;
    height: 5px;
}

hr:after {
    padding: 0 4px;
    position: relative;
    top: -13px;
}


.footer {
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
    color:#fff;
    background-color: #2e3b69;
}